body {
    letter-spacing: 0.03em;
    color: $main-color;
    font-family: $main-font;
    font-size: 20px;
  }

  // body.modal-open {
  //   overflow: hidden;
  // }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    font-family: inherit;
    cursor: pointer;
    display: block;
    border: none;
  }

  :active, :hover, :focus {
    outline: none;
}