.footer {
    background-color: $bg-color;
    padding: 20px 0px;
    border-top: 1px solid $main-color;

    & div {
        text-align: center;
    }
}

.footer__text {
    font-size: 14px;
}

.footer__contacts {
    display: block;
    margin-bottom: 20px;

    & a {
        display: block;
    }
}