.header {
    position: fixed;
    z-index: 9;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: $bg-color;
    border-bottom: 1px solid $main-color;

    @media screen and (min-width: 768px) {
      // padding-top: 12px;
      // padding-bottom: 12px;
    }
}