.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    // background-image: url("../img/hero-bg.jpg");
    // background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url("../img/background.jpg");
    padding-top: 200px;
    padding-bottom: 150px;

    @media screen and (min-width: 768px) {
        padding-top: 250px;
    }
}

.hero-img {
    width: 280px;
    height: 380px;

    @media screen and (min-width: 768px) {
        width: 300px;
        height: 400px;
    }

    & img{
        height: 100%;
    }
}

.hero__title {
    // display: flex;
    // justify-content: center;
    // text-align: center;
    font-size: 50px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 60px;
        margin-bottom: 40px;
    }
}

.hero__text {
    // display: flex;
    // justify-content: center;
    // text-align: center;
    
    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}