.works {
    padding-top: 40px;
    padding-bottom: 20px;

    @media screen and (min-width: 767px) {
        padding-top: 70px;
        padding-bottom: 40px;
    }
}

.wrapper__gallery {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 1100px;

}

.works__gallery {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        margin-left: -20px;
        margin-top: -20px;
    }

    @media screen and (min-width: 768px) {
        margin-left: -30px;
        margin-top: -30px;
    }
}

.works__gallery-item {
    border: 5px solid $bg-color;
    text-align: center;

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 20px);

        margin-left: 20px;
        margin-top: 20px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 3 - 30px);

        margin-left: 30px;
        margin-top: 30px;
    }

    & img {
        height: 400px;
        object-fit: cover;
    }
}

.works__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 34px;
}