<section class="about">
    <div class="container">
      <div class="card middle">
        <div class="front">
          <img src="./img/about-me.jpg" alt="about me"/>
        </div>
        <div class="back">
          <div class="back-content middle">
            <p>Меня зовут</p>
            <h2>Анастасия</h2>
            <br/>
            <p>Я стилист-визажист, создам прекрастный образ для тебя.</p>
            <p>Работаю на дому и на выезд</p>
            <p>г. Кривой Рог.</p>
            <div class="card__icon">
              <a href="https://www.instagram.com/anastasiiaa94/" target="_blank" rel="noreferrer noopener">
                <svg class="icon__svg">
                 <use href="./img/sprite.svg#instagram"></use>
                </svg>
              </a>
              
              <a href="https://www.facebook.com/profile.php?id=100034371308391" target="_blank" rel="noreferrer noopener">
                <svg class="icon__svg">
                  <use href="./img/sprite.svg#facebook"></use>
                </svg>
              </a>

              <a href="#" target="_blank" rel="noreferrer noopener">
                <svg class="icon__svg">
                  <use href="./img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>