<section id="portfolio" class="works">
    <div class="container">
      <h2 class="works__title">ПОРТФОЛИО</h2>

      <div class="wrapper__gallery">
        <ul class="works__gallery">
          <li class="works__gallery-item">
            <a href="./img/portfolio/img-1.jpg" data-fancybox="gallery">
              <img class="works__img" src="./img/portfolio/img-1.jpg" alt="model"/>
            </a>
          </li>

          <li class="works__gallery-item">
            <a href="./img/portfolio/img-2.jpg" data-fancybox="gallery">
              <img class="works__img" src="./img/portfolio/img-2.jpg" alt="model"/>
            </a>
          </li>

          <li class="works__gallery-item">
            <a href="./img/portfolio/img-3.jpg" data-fancybox="gallery">
              <img class="works__img" src="./img/portfolio/img-3.jpg" alt="model"/>
            </a>
          </li>

          <li class="works__gallery-item">
            <a href="./img/portfolio/img-4.jpg" data-fancybox="gallery">
              <img class="works__img" src="./img/portfolio/img-4.jpg" alt="model"/>
            </a>
          </li>

          <li class="works__gallery-item">
            <a href="./img/portfolio/img-5.jpg" data-fancybox="gallery">
              <img class="works__img" src="./img/portfolio/img-5.jpg" alt="model"/>
            </a>
          </li>

          <li class="works__gallery-item">
            <a href="./img/portfolio/img-6.jpg" data-fancybox="gallery">
              <img class="works__img" src="./img/portfolio/img-6.jpg" alt="model"/>
            </a>
          </li>
        </ul>
      </div>

      <div class="button__wrapper">
        <a class="button__link" href="https://www.instagram.com/kudinova_beauty/" target="_blank" rel="noreferrer noopener">
          <span class="button__text">Все работы</span>
        </a>
      </div>
  </section>