.button__wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button__link {
    padding: 10px;
    // border-radius: 10px;
    text-decoration: none;
    border: 2px solid $second-color;
    position: relative;
    overflow: hidden;

    // &:hover {
    //     box-shadow: 1px 1px 25px 10px $bg-color;
    // }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          120deg,
          transparent,
          $bg-color,
          transparent
        );
        transition: all 1250ms;
      }
      
      &:hover:before {
        left: 100%;
      }
  }

  .button__text {
    color: $main-color;
    font-size: 18px;
    justify-content: center;
  }