.icon__svg {
    width: 32px;
    height: 32px;
    fill: $main-color;
    transition: fill $animation;

    @media screen and (max-width: 768px) {
        width: 80px;
        height: 80px;
    }

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}