.menu-container {
    @media screen and (max-width: 767px) {
      display: none;
      // opacity: 0;
      position: absolute; 
      top: 100%;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $bg-color-2;
      padding: 30px;
      text-align: center;
      //  ------- для видимости нижней полоски -------
      margin-top: 1px;
  
      &.is-open {
        display: block;
        // opacity: 1;
      }
    }
  
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

// кнопка меню и кнопка закрыть меню
  .menu-btn {
    fill: $main-color;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    
    &:hover,
    &:focus {
      fill: $accent-color;
      transition: $animation;
      transition: opacity linear 300ms;
    }
    
    & .icon-close {
      display: none;
      // opacity: 0;
    }
    // ---  . точка должна быть впритык к & потому что не будет работать смена --- 
    &.is-open .icon-close{
      display: block;
      // opacity: 1;
    }
    &.is-open .icon-menu {
      display: none;
      // opacity: 0;
    }
    // пропадает на таблетке и выше
    @media screen and (min-width: 768px) {
      display: none;
      // opacity: 0;
    }
  }